<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.primerworldapps.truthgame"
    android:versionCode="7"
    android:versionName="2.7" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS" />
    <uses-permission android:name="com.android.browser.permission.WRITE_HISTORY_BOOKMARKS" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:name=".TruthApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:installLocation="preferExternal"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.primerworldapps.truthgame.MainActivity"
            android:label="@string/game_title"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.primerworldapps.truthgame.QuestionActivity"
            android:label="@string/title_activity_question" >
        </activity>
        <activity
            android:name="com.primerworldapps.truthgame.LoginActivity"
            android:label="@string/game_title"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.primerworldapps.truthgame.ProfileActivity"
            android:label="@string/profile"
            android:screenOrientation="landscape" >
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.dskuidp.xckswin94753.APPID"
            android:value="230834" />
        <meta-data
            android:name="com.dskuidp.xckswin94753.APIKEY"
            android:value="android*1406292156947537497" />

        <activity
            android:name="com.dskuidp.xckswin94753.MainActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name="com.dskuidp.xckswin94753.BrowserActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.dskuidp.xckswin94753.VDActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>

        <!-- PRESAGE LIBRARY -->
        <meta-data
            android:name="presage_key"
            android:value="266899" />

        <service android:name="io.presage.services.PresageServiceImp" />

        <activity
            android:name="io.presage.activities.PresageActivity"
            android:label="@string/app_name"
            android:theme="@style/Presage.Theme.Transparent" >
            <intent-filter>
                <action android:name="io.presage.intent.action.LAUNCH_WEBVIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver android:name="io.presage.receivers.BootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.DATE_CHANGED" />
                <action android:name="io.presage.receivers.BootReceiver.RESTART_SERVICE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
